<div class="row">
    <div class="col-sm-4">
        <!-- Por cada servidor crearemos una tarjeta con el nombre y
    el
    estado del servidor-->
        <div class="card mt-2" *ngFor="let server of servers" [routerLink]="['/servers', server.id]" [queryParams]="{allowEdit: '1'}" fragment="loading">
            <div class="card-header">{{server.name}}</div>
            <div class="card-body">
                <h5 class="card-title">Server status</h5>
                <p class="card-text">{{server.status}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <router-outlet></router-outlet>
    </div>
</div>