<div class="row">
    <div class="col-sm-4">
        <!-- Mostraremos una tarjeta por cada usuario -->
        <div class="card mt-2" *ngFor="let user of users" [routerLink]="['/users', user.id]">
            <div class="card-header">{{user.name}}</div>
            <div class="card-body">
                <span><strong>User id:</strong> {{user.id}}</span>
                <br>
                <span><strong>User email: </strong> {{user.email}}
                </span>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <router-outlet></router-outlet>
    </div>
</div>